.text_error {
    width: 100%;
    margin: 0 auto;
    height: 2em;
    font-size: 2em;
  }
  .error {
    margin: 0 auto;
    font-size: 12em;
    color: var(--red);
  }
  .img_error {
    width: 20%;
    height: 100%;
    text-align: center;
  }