.footer {
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
}

.footer h2 {
    color: var(--white);
    font-size: 18px;
    text-align: center;
}

img {
    width: 3.125rem;
    margin-left: 1.5rem;
}

.footer p {
    color: var(--white);
    font-size: 1rem;
    margin-right: 1.5rem;
}