:root{
  --font:"Montserrat", sans-serif;
  --white:#fff;
  --black:#222;
  --gray:#e2e2e2;
  --red: #ff0000;
}


body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
